export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=main
export CONFIG_LINUX_VERSION=6.15.3

CONFIG_COREBOOT_CONFIG=config/coreboot-protectli-v1610.config
CONFIG_LINUX_CONFIG=config/linux-protectli-v1610.config

#Additional hardware support
CONFIG_LINUX_USB=y

#Modules packed into tools.cpio
CONFIG_CRYPTSETUP2=y
CONFIG_FLASHPROG=y
CONFIG_FLASHTOOLS=y
CONFIG_GPG2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
# CONFIG_TPMTOTP=y

#platform locking finalization (PR0)
# This prevents SPI from being writeable outside of Heads
CONFIG_IO386=y
export CONFIG_FINALIZE_PLATFORM_LOCKING=y

#GUI Support
#Console based Whiptail support(Console based, no FB):
#CONFIG_SLANG=y
#CONFIG_NEWT=y
#FBWhiptail based (Graphical):
CONFIG_CAIRO=y
CONFIG_FBWHIPTAIL=y

#Runtime configuration
export CONFIG_BOOTSCRIPT=/bin/gui-init
export CONFIG_BOOT_DEV="/dev/mmcblk0"
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOOT_KERNEL_ADD=""
export CONFIG_BOOT_KERNEL_REMOVE=""
export CONFIG_BOARD_NAME="Protectli V1610"
export CONFIG_SUPPORT_USB_KEYBOARD=y
export CONFIG_USER_USB_KEYBOARD=y
export CONFIG_FLASH_OPTIONS="flashprog --progress --programmer internal"
